
<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      <li><a href="/">Головна</a></li>
      <li><a href="/posts">Пости</a></li>
      <li><a href="/add-post">Додати пост</a></li>
      <li><a href="/about">Про сайт</a></li>
     
    </ul>
  </nav>
