<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<div style="max-width: 520px; margin: 0 auto; margin-top: 20px;">
<h1><%=title%></h1>


    <p>Сайт створений для ДВВС "Основи Веброзробки".</p>
    <p>Автор: Кріп Роман Олегович, група ФзК-31</p>
    <p><strong>Email:</strong> <a href="mailto:roman.krip@lnu.edu.ua">roman.krip@lnu.edu.ua</a></p>
    <p><strong>Telegram:</strong> <a href="https://t.me/remlexq">@remlexq</a></p>






</div>


<div> 
<%- include('./partials/footer.ejs') %>
</div>
