<link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/4110/PNG/512/xmas_gingerbread_christmas_emoji_icon_260224.png">
<div class="main-css">
<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<div style="max-width: 520px; margin: 0 auto; margin-top: 20px;">
<h1><%=title%></h1>


    <p>Сайт створений для ДВВС "Основи Веброзробки".</p>
    <p>Автор: Кріп Роман, група ФзК-31</p>
    <p><strong>Email:</strong> <a href="mailto:roman.krip@lnu.edu.ua">roman.krip@lnu.edu.ua</a></p>
    <p><strong>Telegram:</strong> <a href="https://t.me/remlexq">@remlexq</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/remlexq/postblog">https://github.com/remlexq/postblog</a>





</div>
<div class="push"></div>
</div>

<div class="footer-div"> 
<%- include('./partials/footer.ejs') %>
</div>
