<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/4110/PNG/512/xmas_gingerbread_christmas_emoji_icon_260224.png">
<div style="max-width: 520px; margin: 0 auto; margin-top: 20px;">
    <h1><%=title%></h1>
   
    <p>Ласкаво просимо на сатій, який ви можете використовувати для створення та додавання нових постів, - 
        це інноваційна платформа, що дозволяє вам легко і зручно ділитися своїми думками, ідеями та контентом з інтернет-спільнотою.
         Зручний і інтуїтивний інтерфейс сайту робить процес створення і редагування постів легким і приємним.</p>

    <h5 style="margin-top: 45px;">На цьому сайті ви можете:</h5>
    <li><strong>Створювати пости:</strong> Використовуючи редактор, який підтримує форматування тексту, зображення, відео та інші мультимедійні елементи, ви можете легко створювати привабливий та інформативний контент.</li>
    <li><strong>Додавати мультимедійний контент: </strong>Завантажуйте зображення, відео або інші медіафайли, щоб надати вашим постам додатковий виразовий засіб та зробити їх більш привабливими для аудиторії.</li>
    <li><strong>Коментувати та обговорювати:</strong> Сайт також надає можливість користувачам залишати коментарі та взаємодіяти з іншими учасниками через функціонал обговорення. Це створює платформу для обміну ідеями та спільної дискусії.</li>
    <li> <strong>Легкий пошук і навігація: </strong> Сайт пропонує зручні інструменти для пошуку та фільтрації контенту, щоб  ви могли швидко знаходити та взаємодіяти з цікавим для вас матеріалом.
    </li>
</div>

<div> 
<%- include('./partials/footer.ejs') %>
</div>
